.new-post {
  position: relative;
  float: right;
  right: 7.3em;
}

.btn-primary {
  background-color: #2bbbad !important;
  border: #2bbbad !important;
}

.btn-outline-primary {
  border: 1px solid #2bbbad !important;
  color: #2bbbad !important;
}